body{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    font-family:Bebas Neue ;
    color:gray;
    background: linear-gradient(to right, rgb(3, 0, 0), rgb(56, 56, 58));
       
    
}

 .user-panel input {
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
   
}

button:hover{
    background-color: gray;
    color: white;
}

a:hover {
    color: red;
}

/* HEADER */

header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;  
}

header h1 {
    text-transform: uppercase;
    color: red;
    margin: 0;
    flex: 1;
    text-shadow: rgb(83, 76, 76) 2px 2px 2px;
    font-size: 50px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: .5rem;

}

header nav a {
    text-decoration: none;
    color: gray;
}

 header .user-panel {
    display: flex;
    align-items: center;
    gap: .5rem;
    flex: 1;
    justify-content: flex-end;
 }

.user-panel input {
    padding: .3rem 1.8rem .3rem .3rem;
    width: 7rem;
 }

 .search-icon {
    margin-left: -2rem;
 }

.user-panel img {
     width: 2rem;
     border-radius: 100px;
 }

 .nav-menu {
        display: none;
        
 }


 /* HERO */

main {
    display: flex;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 1rem;
    padding: 2rem;
}

.user-rating i {
    color: red;
}

.age-rating {
    border: 1px solid gray;
    border-radius: .3rem;
    margin: .5rem ;
}

.main-movie {
    width: 60%;
}

.movie-details span {
    color: red;
    font-weight: bold;
}

.movie-details p {
    margin: .5rem 0 ;
}

button {
    background-color:red;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 10px;
    padding-left: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


/* SUGGESTİON */

.suggestion-row {
    margin-bottom: 2rem ;
}

.suggestion-row-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.suggestion-row-title a{
    text-decoration: none;
    color: gray;
}

.suggestion-row-title a:hover {
    color: red; 
}


.suggestion-row-title h3 {
    margin: .5rem 0;
}

.suggestion-movies {
    display: flex;
    gap: 1.5rem;
    overflow-x: auto;
    white-space: nowrap;
}

.suggestion-movies::-webkit-scrollbar {
    height: 12px;
   
}

.suggestion-movies::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
    
}

.suggestion-movies::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
   
}

.suggestion-movies::-webkit-scrollbar-thumb:hover {
    background: red;
    
}


.movie-card {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem;
    margin: 1rem;
    border-radius: 5px;
    width: 400px;
}

.movie-card h3 {
    margin: 0;
    
}

.movie-card .age-rating {
    margin-left: 0;
    
}

.movie-detail-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}



.fa-play {
    color: white;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: flex-start;
    
}

footer nav a{
    text-decoration: none;
    color: gray;
}

footer h5 {
    margin-top: 0;
}

.footer-navigation nav {
    display: flex;
    gap: 1rem;

}

.social-navigation {
    min-width: 120px;

}

@media (max-width: 500px) {
    header {
        flex-wrap: wrap;
    }

    header nav {
        order: 1;
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
    }

    header .user-panel {
        display: none;

    }
    .nav-menu {
        display: block;
    }  
   .main-movie {
        width: 100%;
    }

   footer {
        flex-wrap: wrap;
    
    }
   
}
    